/* Custom styling for meta box */
.cc_author_metabox label {
	display: block;
}

.cc_author_metabox select,
.cc_author_metabox input[type='text'],
.cc_author_metabox textarea {
	margin-bottom: 1em;
}

.cc_author_metabox input[type='text'],
.cc_author_metabox textarea {
	width: 98%;
}

.cc_author_postauthor_loading {
	margin-left: 0.5em;
	vertical-align: middle;
	display: inline;
}
.cc_author_postauthor_loading_img {
	display: none;
}