/* Custom styling for meta box */
.cc_author_metabox label {
	display: block;
}

.cc_author_metabox select,
.cc_author_metabox input[type='text'],
.cc_author_metabox textarea {
	margin-bottom: 1em;
}

.cc_author_metabox .cc_author_meta_update_profile {
	margin-top: 1em;
}

.cc_author_metabox input[type='text'],
.cc_author_metabox textarea {
	width: 98%;
}

.cc_author_metabox .spinner {
	float: left;
	vertical-align: middle;
}